@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  font-family: sans-serif;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--tg-theme-bg-color);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--tg-theme-bg-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--tg-theme-hint-color);
}

@media (pointer: none), (pointer: coarse) {
  /* disabling scrollbar in mobile*/

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: unset;
    background-color: unset;
  }

  ::-webkit-scrollbar {
    width: unset;
    background-color: unset;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: unset;
    background-color: unset;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 0;
  left: -156px;
  background: var(--tg-theme-bg-color);
}

.dropdown-content > * {
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content > *:hover {
  background: rgba(0, 0, 0, 0.25);
}
