.products {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  border-top: 1px solid var(--tg-theme-secondary-bg-color);
  padding: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.product-item:last-child {
  border-bottom: 1px solid var(--tg-theme-secondary-bg-color);
}
